<div class="chat-main-container">
  <div class="chat-form-container">

    <h1 class="chat-header"><%= Chatroom %> 👩🏼‍🌾</h1>

    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">

      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>

    <div class="chat-message-bar">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here..." %>
      <%= f.submit class: "btn-chat-page"%>
    <% end %>
    </div>
  </div>
</div>
