<div class="main-container-index">
  <div class="grid-card-products">
    <% if @users.first.present? %>
      <% @users.each do |producer|%>
        <%= link_to user_path(producer) do %>
          <div class="index-card-products">
            <div class="product-card-content">
              <%if producer.picture.present? %>
                <%= cl_image_tag producer.picture, class: "products-image"%>
              <% end %>
              <div class="product-card-infos">
                <h4 class="product-card-name"> <%= producer.farmname %></h4>
                <div class="products-card-detail">
                  <p><%= producer.address %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4>Sorry, this producer doesn't exit 😔</h4>
    <% end %>
  </div>
  <div id="map" style="width: 50%; height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
