
<div class="show-producer-page-main container">

  <!--  ROW 1 -->

          <h6 class="header-link"><%= link_to "Go back to producers list", users_path(@user), {:style=>'color:#000; text-decoration: none'} %></h6>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="column-show-product">
        <div class="link-producer-list">
          <%= image_tag @user.products.first.picture_one, class:"image-producer-show" %>
        </div>
        <div class="image-header">
          <div class="d-flex" >
            <%= image_tag @user.products.first.picture_two, class:"image-producer-show1" %>
            <%= image_tag @user.products.first.picture_three, class:"image-producer-show2" %>
          </div>
          <%= image_tag @user.products.first.picture_four, class:"image-producer-show3" %>
        </div>
      </div>
      <div class="body-producer-show-page">
        <div class="copy-body">
          <h4> <%= @user.farmname.capitalize  %>'s farm </h4>
         <p><%= @user.details %></p>
        </div>
      </div>
      <div>
          <div id="map" style="width: 100%; height: 50vh;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="producer">
        <div class="container-first-item">
          <%= cl_image_tag @user.picture, class: "image-profile-producer-show"%>
          <h6><%= @user.farmname.capitalize  %></h6>
          <p><%= @user.address %></p>
          <%= link_to "Visit us", @user.website, class: "btn-show-orders-page btn-green" %>

            <%= image_tag "farmer.png", class:"image-producer-show-sketch" %>
        </div>

        <div class="container-second-item">
          <% @user.products.each do |product|%>
          <%= cl_image_tag product.photo.key, class: "products-image"%>
            <%= product.name %>
            <%= product.detail %>
        </div>
          <div>
            <%= link_to "See our product", product_path(product), method: :get, class: "btn-show-orders-page" %>
          </div>
          <%end %>
      </div>
    </div>
  </div>

</div>















