<div class="container-cart">
  <% if @order.status.nil? %>
    <div class="first-div">
      <div class="d-flex flex-column justify-content-around height">
        <h1 class="top-margin d-flex justify-content-center my-4">Order Summary</h1>
      </div>

      <div class="d-flex flex-column bd-highlight orders-container">
        <div class="d-flex flex-column bd-highlight  orders-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_products.each do |item|%>
                <tr>
                  <th scope="row"><h6 class="cart-name"><%= item.product.name %></h6> </th>
                  <td><h6 class="cart-price"><%= item.product.price %>€</h6></td>
                  <td><h6 class="cart-quantity"><%= item.quantity %></h6></td>
                  <td><h6 class="cart-total"><%= item.product.price*item.quantity %>€</h6></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr size=2 noshade>
        <div class="order-confirmation-text">
          <% amount=0%>
          <% @order.order_products.each do |item|%>
            <% amount+= item.product.price*item.quantity %>
          <% end %>
          <h4 class="total-amount"> Total Amount <%= amount%>€</h4>
          <%= link_to "Confirm purchase", product_order_path(@order), method: :patch, class: "btn-show-orders-page" %>
        </div>
      <% else %>
        <div class="lalaland">
          <h4 class="title-order-confirmed" >ORDER CONFIRMED</h4>
          <h6 class="title-confirmation"> Congratulations your purchase was successful, check your email for more information.</h6>
          <h5 class="title-bonappetit">BON APPETIT!</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>

