<% if @order.status.nil? %>

  <div class="header-show-order-page" >
    <h1>Order Information</h1>
  </div>

<div class="card-order-container">
  <div class="card-order-infos">
      <% @order.order_products.each do |item|%>
      <div class="name">
        <h4> NAME: <%= item.product.name %></h4>
      </div>
      <div class="origin">
        <h4> ORIGIN: <%= item.product.location %></h4>
      </div>
      <div class="details">
        <h4> DETAILS: <%= item.product.detail %></h4>
      </div>
      <div class="quantity">
        <h4> QUANTITY: <%= item.quantity %></h4>
      </div>
      <div class="total-price">
        <h4> TOTAL PRICE: € <%= item.product.price * item.quantity %></h4>
      </div>
      <!-- could be better to insert a picture -->
      <% end %>
  </div>
      <%= link_to "Confirm purchase", product_order_path(@order), method: :patch, class: "btn-show-orders-page" %>
      <% else %>
        <div>

          <div class="container-checkout">
            <div class="farmer-sketch">
              <h3>Thank you</h3>
            </div>

            <div class="congratulation">
              <div class="logo-checkout">

              </div>
              <div class="body-copy">
                <h2>Congratulations your purchase was successful, check your email for more information</h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>

</div>
