<div class="container-hero" id="homepage">
  <div class="flex-hero">
    <div class="cta">
      <div class="flex-direction-row">
        <div class="flex-basis-fifty">
          <div class="flex-direction-column top-margin left-margin">
            <div class="logo-position">
              <%= image_tag "logo.png", class:"logo-size" %>
            </div>
            <div class="left-section">
              <h1>Meet the farmers around you!</h1>
              <p>Tell us where you are and we will introduce you to the amazing food producers around you</p>
              <div class="flexsearch">
                  <%= simple_form_for :search, html: { class: "searchbar"}, url: products_path, method: :get do |f| %>
                  <%= f.input :query, label: false, placeholder: "Find a product" %>
                  <%= button_tag type: 'submit',class: "searchicon" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-basis-fifty">
          <div class="abs-pos-margin">
            <div class="main-container-index">
              <div class="grid-card-products">
                <% @users.each_slice(2).with_index do |userpair, index| %>
                  <div class="row <%= index.odd? ? 'justify-content-start right-margin' : 'justify-content-end left-margin' %>">
                    <% userpair.each do |producer| %>
                    <div class="index-card-products slight-right-margin">
                      <%= cl_image_tag producer.picture, class: "products-image"%>
                      <div class="product-card-content">
                        <h4 class="product-card-name"> <%= link_to producer.farmname, user_path(producer), {:style=>'color:#000; text-decoration: none'} %>
                        </h4>
                        <div class="products-card-detail">
                          <p> <%= producer.origin %></p>
                        </div>
                         <p class="pricing-card-products"> <%= producer.address %></p>
                      </div>
                    </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
