<h1>Your results</h1>

<div class="card-trip">
<% if @products.first.present? %>
<% @products.each do |product|%>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
 <!-- <%#if boat.photo.attached? %>
   <%#= cl_image_tag boat.photo.key %>
<%#end %> -->
    <div>
      <div>
        <h2> <%= product.name %></h2>
        <p> <%= product.detail %></p>
      </div>
      <h2 class="card-trip-pricing">€ <%= product.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
    <%= link_to "", product_path(product), class: "card-link" %>
  </div>
<% end %>
<% else %>
  <h3>Sorry, we don't have this product 😔</h3>
<% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


