<div class="search-bar-container">
  <div class="search-bar-input">
    <%= simple_form_for :search, html: { class: "flexsearch"}, url: products_path, method: :get do |f| %>
    <%= f.input :query, label: false, placeholder: "Find a product" %>
    <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<h1>Your results</h1>

<div class="container-card-products">
  <div class="grid-card-products">
    <div class="copy-card-products">

      <% if @products.first.present? %>
      <% @products.each do |product|%>
        <%if product.photo.attached? %>
          <%= cl_image_tag product.photo.key, class: "products-image"%>
        <%end %>

      <div>

      <%= link_to product.name, product_path(product), {:style=>'color:#000; text-decoration: none'} %>
        <div class="products-card-detail">
          <p> <%= product.detail %></p>
        </div>
      </div>
        <h2 class="pricing-card-products">€ <%= product.price %></h2>

    <% end %>
      <% else %>
        <h3>Sorry, we don't have this product 😔</h3>
      <% end %>

      </div>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
