

<div class="header-show-page">
  <h1 class="">Product Information</h1>
</div>

<div class="product-card-container-show-page">
  <div class="card">
  <% if @product.photo.attached? %>
    <div class="container-image-product">
<%# @product.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
      <%= cl_image_tag @product.photo.key, class: "product-image" %>
    </div>
</div>
  <% end %>
</div>

    <div class="description-product-card-container-show-page">
      <div class="card-description">
        <p> NAME: <%= @product.name %></h4>
        <p> CATEGORY: <%= @product.product_category %> </h4>
        <p> ORIGIN: <%= @product.location %> </h4>
        <p> DETAILS: <%= @product.detail %> </h4>
        <p> PRICE: € <%= @product.price %> </h4>
      </div>
      <div class="form-">
        <div class="form-input">
          <%= simple_form_for [ @product, @order_product ] do |f| %>
            <%= f.input :quantity %>
            <%= f.submit "Add to Cart", class: "form-btn btn" %>
          <% end %>

          <%= link_to "Chat", start_chat_path(user: @product.user), class: "form-btn btn" %>
        </div>
      </div>
    </div>

<div class="reviews">
  <h3>Reviews</h3>
    <% if @product.reviews.empty? %>
      <small><em>Be the first one to review these products.</em></small>
    <% end %>
      <% @product.reviews.each do |review| %>
      <div>
        <% review.rating.times do %>
        <% end %>
          <div class="reviews">
            <p class="reviews-time">
              <%= distance_of_time_in_words_to_now(review.created_at) %> ago
            </p>
            <p class="reviews-content"><%= review.content %></p>
          </div>
      </div>
  <% end %>
</div>

