<div class="d-flex flex-column justify-content-around">
<h1 class="top-margin d-flex justify-content-center">Product Information</h1>

<div class="card">
  <%# if @boat.photo.attached? %>
    <!-- <div class="d-flex justify-content-center flex-edit">
     <%#= cl_image_tag @boat.photo.key %>
    </div> -->
  <%# end %>
  <div>
    <img class="image-resize" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="">
  </div>
  <div class="d-flex justify-content-center text">
    <div class="d-flex">
      <div>
        <p> NAME: <%= @product.name %></h4>
        <p> CATEGORY: <%= @product.product_category %> </h4>
        <p> SOURCE: <%= @product.location %> </h4>
        <p> DETAILS: <%= @product.detail %> </h4>
        <p> PRICE: € <%= @product.price %> </h4>
      </div>
     <!--  <div class="d-flex flex-column justify-content-between">
        <p>Quantity: 0</p>
        <button class="btn btn-primary cart">
          Add
        </button>
        <button class="btn btn-primary cart">
          Remove
        </button>
        <button class="btn btn-primary">
          Order<%#= link_to "Order", order_path(@order_product), class: "btn btn-flat" %>
        </button>
      </div> -->
    </div>
  </div>
  <div>
    <%= simple_form_for [ @product, @order_product ] do |f| %>
      <%= f.input :quantity %>
      <%= f.submit "Please enter quantity", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<hr>




<!--
<div class="d-flex justify-content-around">
  <p class="btn btn-primary"><%#= link_to "Book now", new_boat_booking_path(@boat), class: "btn btn-flat" %></p>
  <p class="btn btn-primary"><%#= link_to "Edit boat information", edit_boat_path, class: "btn btn-flat" %></p>
  <p class="btn btn-primary"> <%#= link_to "Delete #{@boat.name}", boat_path(@boat), class: "btn btn-flat",
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </p>
</div>
</div>
 -->







