<h6 class="header-link"><%= link_to "Go back to products list", products_path(@user), {:style=>'color:#000; text-decoration: none'} %></h6>

<div class="show-product-page-main container">

  <div class="container a">
    <div class="link-producer-list">
      <%= cl_image_tag @product.photo.key, class: "product-image" %>
    </div>
    <div class="copy-body">
      <h4> <%= @product.name %> </h4>
      <p> <%= @product.location %> </p>
      <p> <%= @product.detail %> </p>
      <p> <%= @product.price %> € </p>
    </div>
  </div>


  <div class="container b">

    <div class="container c">
      <%= cl_image_tag @product.photo.key, class: "image-show-page-product" %>
      <p> <%= @product.price %> € </p>
      <div class="form-">
        <div class="form-input">
          <%= simple_form_for [ @product, @order_product ] do |f| %>
            <%= f.input :quantity %>
            <%= f.submit "Add to Cart", class: "form-btn btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container d">
      <h4>Producer</h4>

      <p><%= link_to "Chat", start_chat_path(user: @product.user), class: "form-btn btn" %></p>
    </div>

  </div>
</div>


