<div class="d-flex flex-column justify-content-around">
<h1 class="top-margin d-flex justify-content-center">Product Information</h1>
</div>

<div class="card">
  <% if @product.photo.attached? %>
   <div >
     <%= cl_image_tag @product.photo.key %>
    </div>
  </div>
  <% end %>
    <div class="m-container">
      <div class="card-description">
        <p> NAME: <%= @product.name %></h4>
        <p> CATEGORY: <%= @product.product_category %> </h4>
        <p> SOURCE: <%= @product.location %> </h4>
        <p> DETAILS: <%= @product.detail %> </h4>
        <p> PRICE: € <%= @product.price %> </h4>
      </div>
  <div class="form-button">
    <%= simple_form_for [ @product, @order_product ] do |f| %>
      <%= f.input :quantity %>
      <%= f.submit "Please enter quantity", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
<hr>

<h3>Reviews</h3>
  <% if @product.reviews.empty? %>
    <small><em class="text-muted">Be the first one to review these products.</em></small>
  <% end %>
  <% @product.reviews.each do |review| %>
    <div>
      <% review.rating.times do %>
      <i class="fas fa-star star-yellow"></i>
  <% end %>
    <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
    <p class="mb-0"><%= review.content %></p>
    </div>
    <hr>
  <% end %>



<!--
<div class="d-flex justify-content-around">
  <p class="btn btn-primary"><%#= link_to "Book now", new_boat_booking_path(@boat), class: "btn btn-flat" %></p>
  <p class="btn btn-primary"><%#= link_to "Edit boat information", edit_boat_path, class: "btn btn-flat" %></p>
  <p class="btn btn-primary"> <%#= link_to "Delete #{@boat.name}", boat_path(@boat), class: "btn btn-flat",
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </p>
</div>
</div>
 -->







